# Virtual Environment
venv/
__pycache__/
*.pyc

# Database file
flowers.db

# Environment variables
.env

# VS Code settings
.vscode/

# Roo settings
.roo/

# macOS files
.DS_Store
# User-uploaded files
app/static/uploads/
# SSH keys
github_actions_key
github_actions_key.pub